#content{
  background-image: url('./img/tree.jpg');
  width: 80%;
  height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
}
table{
  height: 270px;
  width: 50%;
  margin-left: 20%;
  margin-top: 15%;
}

td{
  background-size: contain;
  background-repeat: no-repeat;
}
